In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dru-kaggle-intro/sample_submission.csv
/kaggle/input/dru-kaggle-intro/train_mobile.csv
/kaggle/input/dru-kaggle-intro/test_mobile.csv

In [2]:
train = pd.read_csv('/kaggle/input/dru-kaggle-intro/train_mobile.csv')
test = pd.read_csv('/kaggle/input/dru-kaggle-intro/test_mobile.csv')
train.head(15)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1023,yes,0.6,yes,0,yes,53,0.8,146,3,...,905,1988,2633,17,3.0,8,yes,yes,no,2
1,565,yes,0.6,yes,2,yes,41,1.0,155,5,...,1263,1716,2605,11,2.0,10,yes,yes,no,2
2,617,yes,2.6,no,0,no,10,0.9,141,6,...,1216,1786,2771,16,8.0,12,yes,no,no,2
3,1823,yes,1.3,no,13,yes,44,0.7,151,2,...,1208,1212,1413,8,2.0,16,yes,yes,no,1
4,1823,no,1.8,no,4,yes,10,0.9,149,8,...,381,1018,3222,13,8.0,19,yes,no,yes,3
5,1956,no,0.6,yes,0,no,24,0.9,197,4,...,512,1149,702,16,3.0,6,yes,yes,yes,0
6,1447,yes,0.6,no,0,no,53,0.8,184,7,...,386,836,1101,17,1.0,21,yes,no,no,0
7,511,yes,0.7,yes,2,yes,9,0.2,103,5,...,1137,1224,515,19,10.0,13,yes,no,no,0
8,771,yes,3.0,yes,0,no,9,0.2,192,5,...,248,874,3948,5,2.0,8,no,no,no,3
9,1522,yes,2.3,no,5,yes,33,0.6,187,8,...,151,1005,3828,14,9.0,14,yes,yes,yes,3
10,1868,no,0.6,no,13,yes,52,0.8,195,1,...,356,563,375,14,9.0,4,yes,no,yes,0
11,840,no,0.6,no,1,yes,13,0.2,206,8,...,984,1850,3556,10,9.0,20,yes,no,yes,3
12,597,no,1.0,yes,7,yes,23,0.2,131,3,...,441,810,3754,10,2.0,19,yes,yes,no,3
13,684,yes,0.6,no,4,no,19,1.1,131,4,...,902,1064,2339,11,1.0,19,no,yes,yes,1
14,774,no,1.2,yes,12,no,39,0.9,91,7,...,1314,1854,2821,17,15.0,4,yes,yes,no,3

In [3]:
# print a summary of the train data
train.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,price_range
count,1500.000000,1450.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1500.000000,1388.000000,1500.000000,1500.000000
mean,1238.160000,1.620621,4.324000,32.130000,0.601467,150.330000,4.568667,9.917333,642.916667,1255.106000,2123.830000,12.364667,5.734150,12.036667,1.500000
std,439.103833,0.816908,4.370937,18.077287,0.290150,35.456121,2.308716,6.074902,443.188796,433.117891,1091.421832,4.181787,4.307478,5.483615,1.127319
min,503.000000,0.600000,0.000000,2.000000,0.200000,90.000000,1.000000,0.000000,0.000000,500.000000,258.000000,5.000000,0.000000,3.000000,0.000000
25%,852.750000,0.800000,1.000000,16.000000,0.300000,119.000000,3.000000,5.000000,281.750000,880.500000,1186.750000,9.000000,2.000000,7.000000,0.000000
50%,1221.000000,1.600000,3.000000,32.000000,0.600000,150.000000,5.000000,10.000000,561.500000,1250.500000,2135.500000,12.000000,5.000000,12.000000,1.000000
75%,1608.250000,2.300000,7.000000,48.000000,0.900000,181.000000,7.000000,15.000000,938.000000,1642.250000,3079.250000,16.000000,9.000000,17.000000,3.000000
max,1998.000000,3.100000,19.000000,64.000000,1.100000,210.000000,8.000000,20.000000,1960.000000,1998.000000,4000.000000,19.000000,18.000000,21.000000,3.000000

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1500 non-null   int64
 1   blue           1500 non-null   object
 2   clock_speed    1450 non-null   float64
 3   dual_sim       1460 non-null   object
 4   fc             1500 non-null   int64
 5   four_g         1455 non-null   object
 6   int_memory     1500 non-null   int64
 7   m_dep          1500 non-null   float64
 8   mobile_wt      1500 non-null   int64
 9   n_cores        1500 non-null   int64
 10  pc             1500 non-null   int64
 11  px_height      1500 non-null   int64
 12  px_width       1500 non-null   int64
 13  ram            1500 non-null   int64
 14  sc_h           1500 non-null   int64
 15  sc_w           1388 non-null   float64
 16  talk_time      1500 non-null   int64
 17  three_g        1500 non-null   object
 18  touch_screen   1500 non-null   object
 19  wifi           1500 non-null   object
 20  price_range    1500 non-null   int64
dtypes: float64(3), int64(12), object(6)
memory usage: 246.2+ KB

In [5]:
# create a list with categorical features
cat_features_list = train.select_dtypes(include='object').columns.to_list()
cat_features_list

['blue', 'dual_sim', 'four_g', 'three_g', 'touch_screen', 'wifi']

In [6]:
columns_to_encode = ['blue', 'dual_sim', 'four_g', 'three_g', 'touch_screen', 'wifi']

for col in columns_to_encode:
    
    # encode columns for both train and test sets
    train[f'{col}'] = train[f'{col}'].apply(lambda x: 1 if x == 'yes' else 0)
    test[f'{col}'] = test[f'{col}'].apply(lambda x: 1 if x == 'yes' else 0)
train.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1023,1,0.6,1,0,1,53,0.8,146,3,...,905,1988,2633,17,3.0,8,1,1,0,2
1,565,1,0.6,1,2,1,41,1.0,155,5,...,1263,1716,2605,11,2.0,10,1,1,0,2
2,617,1,2.6,0,0,0,10,0.9,141,6,...,1216,1786,2771,16,8.0,12,1,0,0,2
3,1823,1,1.3,0,13,1,44,0.7,151,2,...,1208,1212,1413,8,2.0,16,1,1,0,1
4,1823,0,1.8,0,4,1,10,0.9,149,8,...,381,1018,3222,13,8.0,19,1,0,1,3
5,1956,0,0.6,1,0,0,24,0.9,197,4,...,512,1149,702,16,3.0,6,1,1,1,0
6,1447,1,0.6,0,0,0,53,0.8,184,7,...,386,836,1101,17,1.0,21,1,0,0,0
7,511,1,0.7,1,2,1,9,0.2,103,5,...,1137,1224,515,19,10.0,13,1,0,0,0
8,771,1,3.0,1,0,0,9,0.2,192,5,...,248,874,3948,5,2.0,8,0,0,0,3
9,1522,1,2.3,0,5,1,33,0.6,187,8,...,151,1005,3828,14,9.0,14,1,1,1,3